{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <div class="home-info-flex">
        {{- with .imageUrl }}
        <img class="home-avatar" src="{{ . | relURL }}"
             alt="{{ $.Site.Params.homeInfoParams.imageTitle | default `Kush Bhatnagar` }}"
             width="130" height="130" loading="eager">
        {{- end }}
        <div class="home-info-text">
            <header class="entry-header">
                <h1>{{ .Title | markdownify }}</h1>
            </header>
            <div class="entry-content md-content">
                {{ $opts := dict "display" "block" }}
                {{ .Content | $.Page.RenderString $opts }}
            </div>
        </div>
    </div>
    <footer class="entry-footer">
        {{ partial "social_icons.html" (dict "align" site.Params.homeInfoParams.AlignSocialIconsTo) }}
    </footer>
</article>
{{- end -}}
